.advantages {
  min-height: 562px;
  width: auto;
  box-sizing: border-box;
  padding: 108px 0 100px;
  background-color: #96bee2;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/advantages/advantages-desktop@1x.jpg");


  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/advantages/advantages-desktop@2x.jpg");
  }

  object-fit: cover;
}

.advantages h1 {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  margin: 0;
}

.advantages__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 48px auto 0;
  padding: 0 103px;
  max-width: 1366px;
  box-sizing: border-box;
}

.advantages__item {
  width: calc(100%/3 - 27px);
  box-sizing: border-box;
  text-align: left;
  padding: 30px 30px 25px;
  margin-bottom: 20px;
  background-color: $main;
  margin-right: 40px;

  &--ship {
    &::before {
      display: block;
      content: "";
      background: url("../img/advantages/advantages-ship.svg") no-repeat;
      width: 27px;
      height: 32px;
    }
  }

  &--allinclusive {
    &::before {
      display: block;
      content: "";
      background: url("../img/advantages/advantages-check.svg") no-repeat;
      width: 38px;
      height: 21px;
      margin-top: 7px;
      margin-bottom: 23px;
    }
  }

  &--zodiac {
    margin-right: 0;
    &::before {
      display: block;
      content: "";
      background: url("../img/advantages/advantages-boat.svg") no-repeat;
      width: 42px;
      height: 15px;
      margin-top: 9px;
      margin-bottom: 27px;

    }
  }
}

.advantages__item-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin: 0;
  margin-top: 20px;
}

.advantages__item-description {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;

  margin: 0;
  margin-top: 9px;

  &--allinclusive {
    max-width: 280px;
  }

  &--zodiac {
    max-width: 241px;
  }
}

@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  .advantages {
    padding: 98px 0 79px;
    background-image: url("../img/advantages/advantages-tablet@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/advantages/advantages-tablet@2x.jpg");
    }
  }

  .advantages h1 {
    font-size: 26px;
    line-height: 26px;
  }

  .advantages__list {
    margin-top: 54px;
    padding: 0 45px;
    max-width: 1023px;
  }

  .advantages__item {
    padding: 20px 15px 20px 20px;

    &--ship {
      &::before {
        width: 21px;
        height: 26px;
        margin-top: 6px;
      }
    }

    &--allinclusive {
      &::before {
        width: 33px;
        height: 19px;
        margin-top: 9px;
      }
    }

    &--zodiac {
      padding-right: 16px;

      &::before {
        width: 38px;
        height: 13px;
        margin-top: 12px;
        margin-bottom: 26px;
      }
    }
  }

  .advantages__item-title {
    line-height: 25px;
  }

  .advantages__item-description {
    &--allinclusive {
      min-width: 162px;
    }

    &--zodiac {
      min-width: 168px;
    }
  }
}

@media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
  .advantages {
    padding: 58px 0 31px;

    background-image: url("../img/advantages/advantages-mobile@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/advantages/advantages-mobile@2x.jpg");
    }
  }

  .advantages h1 {
    font-size: 24px;
    line-height: 36px;
  }

  .advantages__list {
    flex-direction: column;
    margin-top: 30px;
    padding: 0 15px;
    max-width: 767px;
  }

  .advantages__item {
    width: 100%;
    padding: 20px;
    margin-bottom: 32px;

    &--ship {
      &::before {
        width: 21px;
        height: 26px;
        margin-top: 5px;
      }
    }

    &--allinclusive {
      padding-right: 55px;

      &::before {
        width: 33px;
        height: 19px;
      }
    }

    &--zodiac {
      &::before {
        width: 38px;
        height: 13px;
        margin-top: 12px;
      }
    }
  }

  .advantages__item-title {
    line-height: 25px;
  }

  .advantages__item-description {
    margin-top: 8px;

    &--allinclusive {
      min-width: 223px;
    }

    &--zodiac {
      min-width: 233px;
    }
  }
}
