.booking {
  min-height: 555px;
  width: auto;
  box-sizing: border-box;
  padding: 51px 0 47px;


  background-color: #96bee2;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/booking/background-desktop@1x.jpg");

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/booking/background-desktop@2x.jpg");
  }
}

.booking__wrapper {
  max-width: 1366px;
  box-sizing: border-box;
  padding: 0 163px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.booking__about {
  text-align: left;
  margin-top: 165px;
  width: 500px;
}

.booking__about h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0.3px;

  margin: 0;
}

.booking__about p {
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.1px;

  margin-top: 6px;
  width: 360px;
}

.booking__form {
  display: flex;
  flex-direction: column;
  width: 403px;
  background-color: $back;

  box-sizing: border-box;
  padding: 44px 50px 50px;
  text-align: left;
}

.booking__form p {
  color: $main;
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 27px;
}

.booking__form input {
  cursor: pointer;
  box-sizing: border-box;

  margin-bottom: 19px;
  padding: 12px 0 10px 15px;
  border-radius: 0;

  &::placeholder {
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
  }

  &:focus {
    outline: 3px solid #96bee2;
  }

  &:hover {
    outline: 2px solid #96bee2;
  }
}

.booking__form input[type="email"] {
  margin-bottom: 0;
}

.booking__form input[type="checkbox"] {
  opacity: 0;

  & + label {
    letter-spacing: -0.1px;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    color: white;

    margin-top: -10px;
    margin-left: 24px;

    &::before {
      cursor: pointer;
      content: "";
      display: inline-block;
      height: 18px;
      width: 18px;
      background-color: $main;
      vertical-align: middle;

      margin-left: -24px;
      margin-top: -3px;
      margin-right: 6px;
    }
  }

  &:checked + label {
    &::before {
      background-image: url("../img/booking/tick.svg");
      background-repeat: no-repeat;
      background-position: 3px 5px;
    }
  }
}

.booking__form button {
  margin-top: 30px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  padding: 11px 0 9px;
  cursor: pointer;

  &:hover {
    background-color: $text;
  }
}

@media (max-width: $tablet-max-width) {
  .booking {
    min-height: 805px;
    padding: 89px 0 100px;

    background-image: url("../img/booking/background-tablet@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/booking/background-tablet@2x.jpg");
    }
  }

  .booking__wrapper {
    max-width: $tablet-max-width;
    padding: 0 174px;
    flex-direction: column;
  }

  .booking__about {
    text-align: center;
    margin: 0 auto;
    width: 420px;
  }

  .booking__about h1 {
    font-size: 34px;
    line-height: 51px;
    letter-spacing: 0.1px;
  }

  .booking__about p {
    margin-bottom: 51px;
    width: 100%;
  }

  .booking__form {
    margin: 0 auto;
  }

  .booking__form input[type="email"] {
    margin-bottom: 6px;
  }

  .booking__form input[type="checkbox"] {
    margin-top: -8px;

    &::before {
      margin-left: -23px;
      margin-top: -5px;
      margin-right: 6px;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .booking {
    min-height: 760px;
    padding: 60px 0 65px;
    flex-direction: column;

    background-image: url("../img/booking/background-mobile@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/booking/background-mobile@2x.jpg");
    }
  }

  .booking__wrapper {
    max-width: $mobile-max-width;
    padding: 0 15px;
    flex-direction: column;
  }

  .booking__about {
    margin: 0 auto;
    text-align: center;
    width: 257px;
  }

  .booking__about h1 {
    font-size: 24px;
    line-height: 31px;
  }

  .booking__about p {
    font-size: 16px;
    line-height: 22px;

    margin-top: 14px;
    margin-bottom: 34px;
    width: 257px;
  }

  .booking__form {
    width: 290px;
    padding: 35px 30px 40px;
    margin: 0 auto;
  }

  .booking__form p {
    text-align: center;
    line-height: 25px;
  }

  .booking__form input[type="checkbox"] {
    line-height: 12px;
    margin-top: -12px;
    margin-left: 29px;
    position: relative;

    & + label {
      position: relative;
      margin-top: -10px;
      margin-left: 27px;

      &::before {
        position: absolute;
        height: 20px;
        width: 20px;
        margin: 0;
        left: -27px;
      }
    }

    &::before {
      position: absolute;
      top: 0;
      left: -29px;

      height: 20px;
      width: 20px;

      margin: 0;
    }

    &:checked + label {
      &::before {
        background-position: 4px 6px;
      }
    }
  }

  .booking__form input[type="email"] {
    margin-bottom: 10px;
  }

  .booking__form button {
    margin-top: 28px;
    padding: 12px 0 9px;
    border-radius: 0;
    background-color: $main;
  }
}
