.booking {
  padding: 51px 163px 48px;
  display: flex;
  justify-content: space-between;

  background-color: #96bee2;
  background-size: 1366px 555px;
  background-repeat: no-repeat;
  background-image: url("../img/booking/background-desktop@1x.jpg");

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/booking/background-desktop@2x.jpg");
  }
}

.booking__about {
  text-align: left;
  margin-top: 165px;
  width: 500px;
}

.booking__about h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0.3px;

  margin: 0;
}

.booking__about p {
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.1px;

  margin-top: 6px;
  width: 360px;
}

.booking__form {
  display: flex;
  flex-direction: column;
  width: 403px;
  background-color: $back;

  box-sizing: border-box;
  padding: 44px 50px 50px;
  text-align: left;
}

.booking__form p {
  color: $main;
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 27px;
}

.booking__form input {
  box-sizing: border-box;

  margin-bottom: 19px;
  padding: 12px 0 10px 15px;

  &::placeholder {
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
  }

  &:focus {
    outline: 3px solid #96bee2;
  }

  &:hover {
    outline: 2px solid #96bee2;
  }
}

.booking__form input[type="email"] {
  margin-bottom: 0;
}

.booking__form-agree {
  letter-spacing: -0.1px;
  font-weight: normal;
  font-size: 10px;
  line-height: 10px;
  color: white;

  margin-top: -10px;
  margin-left: 24px;

  &::before {
    content: "";
    display: inline-block;
    height: 18px;
    width: 18px;
    background-color: $main;
    vertical-align: middle;

    margin-left: -24px;
    margin-top: -3px;
    margin-right: 6px;
  }
}

.booking__form input[type="checkbox"] {
  opacity: 0;

  &:checked + .booking__form-agree {
    &::before {
      background-image: url("../img/booking/tick.svg");
      background-repeat: no-repeat;
      background-position: 3px 5px;
    }
  }
}

.booking__form-button {
  margin-top: 30px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  padding: 12px 89px 11px 90px;
  cursor: pointer;

  &:hover {
    color: $main;
    background-color: $back;
  }
}

@media (min-width: $tablet-width) and (max-width: 1023px) {
  .booking {
    padding: 89px 174px 100px;
    flex-direction: column;
    background-size: 768px 805px;
    background-image: url("../img/booking/background-tablet@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/booking/background-tabletdesktop@2x.jpg");
    }
  }

  .booking__about {
    text-align: center;
    margin-top: 0;
    width: 420px;
  }

  .booking__about h1 {
    font-size: 34px;
    line-height: 51px;
    letter-spacing: 0.1px;
  }

  .booking__about p {
    margin-bottom: 51px;
    width: 100%;
  }

  .booking__form {
    margin: 0 auto;
  }

  .booking__form input[type="email"] {
    margin-bottom: 6px;
  }

  .booking__form input[type="checkbox"] {
    margin-top: -8px;

    &::before {
      margin-left: -23px;
      margin-top: -5px;
      margin-right: 6px;
    }
  }
}

@media (min-width: $mobile-width) and (max-width: 767px) {
  .booking {
    padding: 60px 15px 65px;
    flex-direction: column;
    background-size: 320px 760px;
    background-image: url("../img/booking/background-mobile@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/booking/background-mobile@2x.jpg");
    }
  }

  .booking__about {
    margin: 0 auto;
    text-align: center;
    width: 257px;
  }

  .booking__about h1 {
    font-size: 24px;
    line-height: 31px;
  }

  .booking__about p {
    font-size: 16px;
    line-height: 22px;

    margin-top: 14px;
    margin-bottom: 34px;
    width: 257px;
  }

  .booking__form {
    width: 290px;
    padding: 35px 30px 40px;
  }

  .booking__form p {
    text-align: center;
    line-height: 25px;
  }

  .booking__form-agree {
    position: relative;
    margin-top: -10px;
    margin-left: 27px;

    &::before {
      position: absolute;
      height: 20px;
      width: 20px;
      margin: 0;
      left: -27px;
    }
  }

  .booking__form input[type="checkbox"] {
    line-height: 12px;
    margin-top: -12px;
    margin-left: 29px;
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: -29px;

      height: 20px;
      width: 20px;

      margin: 0;
    }

    &:checked + .booking__form-agree {
      &::before {
        background-position: 4px 6px;
      }
    }
  }

  .booking__form input[type="email"] {
    margin-bottom: 10px;
  }

  .booking__form-button {
    margin-top: 28px;
    padding: 12px 0 11px 0;
  }
}
