.button {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: $back;
  border: none;
  background-color: $main;
}

//@media (min-width: $tablet-width) and (max-width: 1023px) {

//}
//
//@media (min-width: $mobile-width) and (max-width: 767px) {

//}
