.cruises {
  padding: 115px 118px 120px;
}

.cruises__title {
  font-weight: 600;
  font-size: 28px;
  margin: 0;
  margin-bottom: 23px;
}

.cruises__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.cruises__item {
  box-sizing: border-box;
  width: 260px;
  text-align: left;
  margin-top: 31px;
  background-color: #638ec3;
  background-size: 260px 386px;
  background-repeat: no-repeat;

  &--astoria {
    background-image: url("../img/cruises/astoria-desktop@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/cruises/astoria-desktop@2x.jpg");
    }
  }

  &--elain {
    background-image: url("../img/cruises/elain-desktop@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/cruises/elain-desktop@2x.jpg");
    }
  }

  &--atlantis {
    background-image: url("../img/cruises/atlantis-desktop@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/cruises/atlantis-desktop@2x.jpg");
    }
  }

  &--odyssey {
    background-image: url("../img/cruises/odyssey-desktop@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/cruises/odyssey-desktop@2x.jpg");
    }
  }

  &--olympia {
    background-image: url("../img/cruises/olympia-desktop@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/cruises/olympia-desktop@2x.jpg");
    }
  }

  &--aurora {
    background-image: url("../img/cruises/aurora-desktop@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/cruises/aurora-desktop@2x.jpg");
    }
  }

  &--leonor {
    background-image: url("../img/cruises/leonor-desktop@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/cruises/leonor-desktop@2x.jpg");
    }
  }

  &--minion {
    background-image: url("../img/cruises/minion-desktop@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/cruises/minion-desktop@2x.jpg");
    }
  }

  &:hover {
    .cruises__card {
      opacity: 1;
    }

    .cruises__item-title {
      opacity: 0;
    }
  }
}

.cruises__item-title,
.cruises__card-title {
  font-weight: 500;
  font-size: 18px;

  margin: 0;
}

.cruises__card-title {
  padding-bottom: 15px;
}

.cruises__item-title {
  color: $main;
  position: relative;
  top: 340px;
  left: 30px;
}

.cruises__card {
  background-color: $back;
  box-sizing: border-box;
  color: $main;
  padding: 34px 23px 34px 25px;
  margin-top: -21px;
  opacity: 0;
  height: 386px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cruises__card-item,
.cruises__card-description {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  text-align: left;
  border: none;
}

.cruises__card-item {
  font-weight: 500;

  &--route {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
  }
}

.cruises__card-description {
  margin-top: -1px;
  padding-bottom: 8px;

  &--route {
    letter-spacing: -0.1px;
  }
}

.cruises__booking {
  font-size: 14px;
  line-height: 21px;
  padding: 10px 46px 10px 47px;
  cursor: pointer;
  text-decoration: none;
  color: $back;

  &:hover {
    color: $main;
    background-color: $back;
  }
}

.cruises__card-info {
  margin-left: -2px;
  margin-top: -3px;
}


@media (min-width: $tablet-width) and (max-width: 1023px) {
  .cruises {
    padding: 97px 60px 100px;
  }

  .cruises__title {
    font-size: 26px;
  }

  .cruises__item {
    width: 309px;
    background-size: 309px 386px;

    &--astoria {
      background-image: url("../img/cruises/astoria-tablet@1x.jpg");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/cruises/astoria-tablet@2x.jpg");
      }
    }

    &--elain {
      background-image: url("../img/cruises/elain-tablet@1x.jpg");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/cruises/elain-tablet@2x.jpg");
      }
    }

    &--atlantis {
      background-image: url("../img/cruises/atlantis-tablet@1x.jpg");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/cruises/atlantis-tablet@2x.jpg");
      }
    }

    &--odyssey {
      background-image: url("../img/cruises/odyssey-tablet@1x.jpg");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/cruises/odyssey-tablet@2x.jpg");
      }
    }

    &--olympia {
      background-image: url("../img/cruises/olympia-tablet@1x.jpg");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/cruises/olympia-tablet@2x.jpg");
      }
    }

    &--aurora {
      background-image: url("../img/cruises/aurora-tablet@1x.jpg");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/cruises/aurora-tablet@2x.jpg");
      }
    }

    &--leonor {
      background-image: url("../img/cruises/leonor-tablet@1x.jpg");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/cruises/leonor-tablet@2x.jpg");
      }
    }

    &--minion {
      background-image: url("../img/cruises/minion-tablet@1x.jpg");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/cruises/minion-tablet@2x.jpg");
      }
    }

    &:hover {
      .cruises__card {
        opacity: 1;
      }

      .cruises__item-title {
        opacity: 0;
      }
    }
  }

  .cruises__card-title {
    padding-bottom: 14px;
  }

  .cruises__item-title {
    top: 336px;
    left: 35px;
  }

  .cruises__card {
    padding: 35px;
  }

  .cruises__card-item {
    margin-top: 12px;
  }

  .cruises__card-description {
    margin-top: 0;
  }

  .cruises__card-info {
    margin-top: -5px;
  }
}

@media (min-width: $mobile-width) and (max-width: 767px) {
  .cruises {
    padding: 61px 25px 34px;
  }

  .cruises__title {
    font-size: 24px;
    margin-bottom: 36px;
  }

  .cruises__list {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .cruises__item {
    width: 270px;
    margin-top: 0;
    margin-bottom: 31px;
    background-size: 270px 386px;


    &--astoria {
      background-image: url("../img/cruises/astoria-mobile@1x.jpg");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/cruises/astoria-mobile@2x.jpg");
      }
    }

    &--elain {
      background-image: url("../img/cruises/elain-mobile@1x.jpg");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/cruises/elain-mobile@2x.jpg");
      }
    }

    &--atlantis {
      background-image: url("../img/cruises/atlantis-mobile@1x.jpg");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/cruises/atlantis-mobile@2x.jpg");
      }
    }

    &--odyssey {
      background-image: url("../img/cruises/odyssey-mobile@1x.jpg");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/cruises/odyssey-mobile@2x.jpg");
      }
    }

    &--olympia {
      background-image: url("../img/cruises/olympia-mobile@1x.jpg");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/cruises/olympia-mobile@2x.jpg");
      }
    }

    &--aurora {
      background-image: url("../img/cruises/aurora-mobile@1x.jpg");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/cruises/aurora-mobile@2x.jpg");
      }
    }

    &--leonor {
      background-image: url("../img/cruises/leonor-mobile@1x.jpg");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/cruises/leonor-mobile@2x.jpg");
      }
    }

    &--minion {
      background-image: url("../img/cruises/minion-mobile@1x.jpg");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/cruises/minion-mobile@2x.jpg");
      }
    }

    &:hover {
      .cruises__card {
        opacity: 1;
      }

      .cruises__item-title {
        opacity: 0;
      }
    }
  }

  .cruises__card-title {
    margin-bottom: 17px;
  }

  .cruises__item-title {
    top: 345px;
    left: 26px;
  }
}
