.page-footer {
  width: 100%;
  background-color: $back;
  flex-shrink: 0;
}

.page-footer__wrapper {
  margin: 0 auto;
  max-width: 1366px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 50px 103px 50px 105px;
}

.page-footer__logo-img {
  width: 70px;
  height: 38px;
  margin: 0;
}

.page-footer__logo-fill {
  fill: $main;
}

.page-footer__nav {
  margin-top: 10px;
  margin-left: 8px;
}

.page-footer__nav-item {
  color: $main;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;

  margin-left: 30px;

  &:hover {
    color: #96bee2;
  }
}

.page-footer__social-networks {
  display: flex;
  justify-content: right;
  margin: 0;
  margin-top: 12px;
  padding: 0;
}

.page-footer__social-networks-item {
  margin-right: 32px;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    .page-footer__icon-fill {
      fill: #96bee2;
    }
  }
}

.page-footer__icon-fill {
  fill: $main;
}

.page-footer__facebook {
  width: 11px;
  height: 20px;
}

.page-footer__instagram {
  width: 20px;
  height: 20px;
}

.page-footer__twitter {
  width: 20px;
  height: 16px;
}


@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {

  .page-footer__wrapper {
    max-width: 1023px;
    padding: 47px 45px;
  }

  .page-footer__logo-img {
    width: 38px;
    height: 20px;

    margin-top: 3px;
    margin-right: 17px;
  }

  .page-footer__nav {
    margin-top: 0;
  }

  .page-footer__nav-item {
    font-size: 12px;
    line-height: 25px;

    margin-left: 0;
    margin-right: 19px;
  }

  .page-footer__social-networks {
    margin-top: 5px;
  }

  .page-footer__social-networks-item {
    margin-right: 23px;
  }

  .page-footer__facebook {
    width: 9px;
    height: 16px;
  }

  .page-footer__instagram {
    width: 16px;
    height: 16px;
  }

  .page-footer__twitter {
    width: 16px;
    height: 13px;
  }
}

@media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {

  .page-footer__wrapper {
    max-width: 767px;
    flex-direction: column;
    padding: 40px 0 34px 15px;
  }

  .page-footer__logo {
    text-align: left;
  }

  .page-footer__logo-img {
    width: 42px;
    height: 22px;
    margin-bottom: 28px;
  }

  .page-footer__nav {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0;
    margin-top: -3px;
  }

  .page-footer__nav-item {
    font-size: 12px;
    line-height: 15px;

    margin-left: 0;
    margin-bottom: 17px;
  }

  .page-footer__social-networks {
    justify-content: left;
    margin-top: 10px;
  }

  .page-footer__social-networks-item {
    margin-right: 23px;
  }

  .page-footer__facebook {
    width: 9px;
    height: 16px;
  }

  .page-footer__instagram {
    width: 16px;
    height: 16px;
  }

  .page-footer__twitter {
    width: 16px;
    height: 13px;
  }
}
