.page-header {
  background-color: #96bee2;
  background-size: 1366px auto;
  background-repeat: no-repeat;
  background-image: url("../img/intro/intro-desktop@1x.jpg");

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/intro/intro-desktop@2x.jpg");
  }

  box-sizing: border-box;
  width: 1366px;
  min-height: 650px;
  padding: 34px 105px 0;
  margin: 0 auto;

  flex-grow: 1;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
}

.page-header__nav-close {
  display: none;
}

.page-header__logo-img {
  width: 70px;
  height: 38px;
  margin: 0;
}

.page-header__logo-fill {
  fill: $main;
}

.page-header__toggle {
  display: none;
}

.page-header__nav {
  padding-top: 10px;
}

.page-header__nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.page-header__nav-item {
  margin-left: 33px;
}

.page-header__item-link {
  text-decoration: none;
  color: $main;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  &:hover {
    color: $back;
  }
}

.page-header__intro {
  padding: 193px 93px 0;
  text-align: left;
}

.page-header__intro h1 {
  color: $main;
  font-weight: bold;
  font-size: 54px;
  line-height: 66px;
  letter-spacing: 0.8px;

  margin-top: 0;
  margin-bottom: 13px;
}

.page-header__intro p {
  color: $main;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.1px;

  margin-top: 0;
}

@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  .page-header {
    background-size: 768px auto;
    background-image: url("../img/intro/intro-tablet@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/intro/intro-tablet@2x.jpg");
    }

    width: $tablet-min-width;
    min-height: 638px;
    padding: 30px 45px 0;
  }

  .page-header__logo-img {
    width: 38px;
    height: 20px;
  }

  .page-header__nav {
    padding-top: 0;
  }

  .page-header__nav-item {
    margin-left: 24px;
  }

  .page-header__item-link {
    font-size: 14px;
    line-height: 14px;
  }

  .page-header__intro {
    padding: 215px 0 0;
  }

  .page-header__intro h1 {
    font-size: 50px;
    line-height: 61px;
    letter-spacing: 0.65px;

    margin-bottom: 12px;
  }

  .page-header__intro p {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
  .page-header {
    width: $mobile-min-width;
    min-height: 500px;
    padding: 0;
    flex-direction: column;

    background-size: 320px auto;
    background-image: url("../img/intro/intro-mobile@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/intro/intro-mobile@2x.jpg");
    }
  }

  .page-header__logo-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;

    padding: 22px 15px 16px;
  }

  .page-header__toggle--open {
    display: block;
    background: url("../img/menu/open-button.svg") no-repeat;
    height: 14px;
    width: 24px;
    border: none;
    outline: none;

    position: relative;
    cursor: pointer;

    margin-top: 3px;
  }

  .page-header__toggle--close {
    display: block;
    background: url("../img/menu/close-button.svg") no-repeat;
    height: 14px;
    width: 14px;
    border: none;
    outline: none;

    position: relative;
    z-index: 10;
    cursor: pointer;

    margin-top: 3px;
  }

  .page-header__logo {
    position: relative;
    z-index: 10;
  }

  .page-header__logo-img {
    width: 42px;
    height: 22px;
  }

  .page-header__logo-fill {
    fill: $back;
  }

  .page-header__logo-fill--white {
    fill: $main;
  }

  .page-header__nav {
    padding: 0;
    margin-top: 70px;
  }

  .page-header__nav-wrapper {
    z-index: 0;
    width: 100%;

    background-color: $main;
    box-sizing: border-box;
    padding: 20px 15px 65px;
  }

  .page-header__nav-modal {
    position: absolute;
    width: $mobile-min-width;

  }

  .page-header__nav-list {
    flex-direction: column;
    text-align: left;
  }

  .page-header__nav-item {
    margin-left: 0;
    margin-bottom: 20px;

    &:nth-child(1) {
      order: 2;
    }

    &:nth-child(2) {
      order: 1;
    }

    &:nth-child(3) {
      order: 3;
    }

    &:nth-child(4) {
      order: 4;
      margin-bottom: 0;
    }
  }

  .page-header__item-link {
    color: $back;
    font-size: 18px;
    line-height: 22px;
  }

  .page-header__closed {
    display: none;
  }

  .page-header__intro {
    padding: 112px 15px 0;

  }

  .page-header__intro h1 {
    font-size: 36px;
    line-height: 45px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .page-header__intro p {
    font-size: 16px;
    line-height: 22px;
    margin-top: 11px;
  }
}
