.intro__background {
  position: relative;
  padding: 271px 198px 256px;
  text-align: left;

  margin-top: -76px;
  z-index: 0;

  background-color: #96bee2;
  background-size: 1366px 650px;
  background-repeat: no-repeat;
  background-image: url("../img/intro/intro-desktop@1x.jpg");

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/intro/intro-desktop@2x.jpg.jpg");
  }
}

.intro__text {
  text-align: left;
  padding-left: 198px;
}

.intro__background h1 {
  color: $main;
  font-weight: bold;
  font-size: 54px;
  line-height: 66px;
  letter-spacing: 0.8px;

  margin-top: 0;
  margin-bottom: 13px;
}

.intro__background p {
  color: $main;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.1px;

  margin-top: 0;
}

.intro__about {
  display: flex;
  justify-content: space-between;
  padding: 120px 103px 117px;
}

.intro__about-text {
  width: 520px;
  text-align: left;
}

.intro__about-text h1 {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  margin-top: 56px;
}

.intro__about-text p {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.15px;

  margin-top: 25px;
}

@media (min-width: $tablet-width) and (max-width: 1023px) {
  .intro__background {
    padding: 270px 45px 256px;
    margin-top: -55px;

    background-size: 768px 638px;
    background-image: url("../img/intro/intro-tablet@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/intro/intro-tablet@2x.jpg.jpg");
    }
  }

  .page-main__intro-pic {
    width: $tablet-width;
    margin-top: -4px;
  }

  .intro__text {
    padding-left: 46px;
  }

  .intro__background h1 {
    font-size: 50px;
    line-height: 61px;
    letter-spacing: 0.65px;

    margin-bottom: 12px;
  }

  .intro__background p {
    font-size: 18px;
    line-height: 22px;
  }

  .intro__about {
    padding: 99px 45px 93px;
  }

  .intro__about-text {
    width: 326px;
  }

  .intro__about-text h1 {
    font-size: 26px;
    line-height: 36px;

    margin-top: -7px;
    margin-bottom: 14px;
  }

  .intro__about-text p {
    width: 324px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .intro__about-img {
    width: 324px;
    height: 264px;
  }
}

@media (min-width: $mobile-width) and (max-width: 767px) {
  .intro__background {
    padding: 178px 15px 162px;
    margin-top: -62px;

    background-size: 320px 500px;
    background-image: url("../img/intro/intro-mobile@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/intro/intro-mobile@2x.jpg.jpg");
    }
  }

  .page-main__intro-pic {
    width: $mobile-width;
    height: 500px;
  }

  .intro__text {
    padding-left: 15px;
    top: 0;
    margin-top: -328px;
  }

  .intro__background h1 {
    font-size: 36px;
    line-height: 45px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .intro__background p {
    font-size: 16px;
    line-height: 22px;
    margin-top: 11px;
  }

  .intro__about {
    flex-direction: column;
    padding: 55px 15px 61px;
    margin-top: 0;
  }

  .intro__about-text {
    width: 290px;
  }

  .intro__about-text h1 {
    font-size: 24px;
    line-height: 34px;
    margin-top: 0;
  }

  .intro__about-text p {
    margin-top: 0;
    margin-bottom: 33px;
  }

  .intro__about-img {
    width: 290px;
    height: 186px;
  }
}
