.intro__about {
  display: flex;
  justify-content: space-between;
  padding: 120px 103px 117px;
}

.intro__about-text {
  width: 520px;
  text-align: left;
}

.intro__about-text h1 {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  margin-top: 56px;
}

.intro__about-text p {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.15px;

  margin-top: 25px;
}

@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {

  .intro__about {
    padding: 99px 45px 93px;
  }

  .intro__about-text {
    width: 326px;
  }

  .intro__about-text h1 {
    font-size: 26px;
    line-height: 36px;

    margin-top: -7px;
    margin-bottom: 14px;
  }

  .intro__about-text p {
    width: 324px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .intro__about-img {
    width: 324px;
    height: 264px;
  }
}

@media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {

  .intro__about {
    flex-direction: column;
    padding: 55px 15px 61px;
    margin-top: 0;
  }

  .intro__about-text {
    width: 290px;
  }

  .intro__about-text h1 {
    font-size: 24px;
    line-height: 34px;
    margin-top: 0;
  }

  .intro__about-text p {
    margin-top: 0;
    margin-bottom: 33px;
  }

  .intro__about-img {
    width: 290px;
    height: 186px;
  }
}
