.page-main {
  margin: 0 auto;
  width: 1366px;
}


@media (min-width: $tablet-width) and (max-width: 1023px) {
  .page-main {
    width: $tablet-width;
  }
}

@media (min-width: $mobile-width) and (max-width: 767px) {
  .page-main {
    width: $mobile-width;
  }
}
