.page-main {
  margin: 0 auto;
  width: 1366px;
  flex-grow: 1;
}


@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  .page-main {
    width: $tablet-min-width;
  }
}

@media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
  .page-main {
    width: $mobile-min-width;
  }
}
